$primary: #1C1B22;
$primary-rgb: 28, 27, 34;
$on-primary: #ffffff;
$on-primary-rgb: 255, 255, 255;
$secondary: #3D3D48;
$secondary-rgb: 61, 61, 72;
$on-secondary: #ffffff;
$on-secondary-rgb: 255, 255, 255;
$accent: #0055F6;
$accent-rgb: 0, 85, 246;
$error: #EB1D1D;
$error-rgb: 235, 29, 29;
$on-error: #303234;
$on-error-rgb: 48, 50, 52;
