$font-icon: "Material Icons";
$font-body: "Roboto", "Microsoft YaHei", 微软雅黑, "Hiragino Sans GB";
$font-heading: "Alegreya Sans", "Hiragino Sans GB", 冬青黑体, "Microsoft YaHei",
  微软雅黑, sans-serif;

$size-xs: 0.8rem;
$size-s: 1rem;
$size-m: 1.5rem;
$size-l: 2.2rem;
$size-xl: 4rem;
